*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color:rgb(255, 255, 255);
    overflow-x: hidden;
}

.inicio{
    position: relative;
    display: inline-block;
}

.inicio h1{
    font-size: 40px;
    position: absolute;
    text-align: center;
    color:whitesmoke;
    padding: 35px;
    width: 100%;
    background-color: rgba(58, 151, 129, 0.833);
}

.inicio img {
    width: 100%;
    height: auto;
    display: block;
}

P{
    font-size: 20px;
    text-align: justify;
    margin-left: 160px;
    margin-right: 160px;
}

ul{
    margin-left: 175px;
    list-style: circle;
}

li{
    font-size: 23px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color:black;
    display: block;
    font-size: 20px;
    margin: 10px 20px;
}

a:hover{
    color:rgb(58, 151, 129);
}

footer{
    background-color: rgb(58, 151, 129);
    margin-top: 40px;
    color:whitesmoke;
    padding: 30px;
    background-image: url('/assets/carro.jpg');
    background-size:0ic;
}

h2, h3{
    margin: 30px;
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color: rgb(58, 151, 129);
    margin: 7px auto 0 auto;
}

div h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: rgb(58, 151, 129);
    margin: 7px auto 0 auto;
}

.lista-horizontal {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px; 
  }
  
  .lista-horizontal li {
    font-size: 20px;
    text-align: center;
  }
  